.work {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 150px;
}

.work__heading {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
    max-width: 348px;
    margin-bottom: 33px;
}

.work__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    max-width: 508px;
    margin-bottom: 27px;
}

.work__link {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}